customizations/TEI_P5/html4tei.sch.xml

<?xml version="1.0" encoding="utf-8"?>
<s:schema 
  xmlns:s="http://purl.oclc.org/dsdl/schematron" 
  xmlns:html="http://www.w3.org/1999/xhtml"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
  queryBinding="xslt2" 
  defaultPhase="#ALL">

  <s:ns prefix="html" uri="http://www.w3.org/1999/xhtml"/>

  <s:pattern id="headings">
    <s:rule context="*:div[@id = 'sxedit-main']/*[not(self::*:parsererror)][1]">
      <s:assert test="matches(local-name(), '^h\d')" id="first-para-must-be-heading" role="error">The first paragraph must be a heading. Currently: <s:value-of select="name()"/></s:assert>
    </s:rule>
  </s:pattern>

</s:schema>
